* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-image: url("./images/receita_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form.login {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  height: 220px;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(174, 191, 191, 0.7);
  border-radius: 10px;
}

form.login img {
  width: 80px;
}

form.login input {
  border: 0;
  padding: 3px 8px;
}

form.login button {
  background-color: #ef9743;
  padding: 4px 8px;
  color: white;
  border: 0;
  font-size: 15px;
}

main {
  background-color: aliceblue;
}

header {
  padding: 12px 2%;
  background-color: #5A9837;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 8px;
}

.logo img {
  width: 80px;
}

.logoButton img {
  width: 30px;
  margin-right: 12px;
}

header button {
  margin-bottom: 8px;
  padding: 2px 0;
  background-color: #5A9837;
  border: 0;
}

.pageTitle {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

form.searchForm {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  justify-content: space-evenly;
}

form.searchForm input[type=text] {
  width: 100%;
  padding: 8px;
  border: 0;
  margin-bottom: 5px;
}

.radio {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.radio label {
  background-color: #5A9837;
}

.radio input {
  margin-right: 4px;
}

form.searchForm button {
  background-color: #EFC25B;
  border: 0;
  border-radius: 4px;
  margin-top: 8px;
  padding: 4px 12px;
  font-size: 16px;
}

.botoes {
  margin-top: 12px;
  padding: 0 2% 8px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F0F8FF;
}

.botoes button {
  background-color: #aa713c;
  padding: 4px 8px 2px;
  color: white;
  font-size: 16px;
  flex-grow: 1;
  border: 0;
  margin: 0 6px 6px 0;
  border-radius: 8px;
}

.mainFoodEDrink {
  padding: 20px 2% 60px;
  display: flex;
  flex-direction: column;
}

.mainFoodEDrink a {
  text-decoration: none;
}

.shareHeart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 12px;
}

.shareHeart div button, label{
  margin-right: 12px;
  border: 0;
  background-color: #F0F8FF;
}

.nameImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameImage h2 {
  border-bottom: 1px solid;
  color: #aa713c;
}

.nameImage h3 {
  font-style: italic;
  color: #aa713c;
}

.nameImage img {
  width: 100%;
  margin-top: 8px;
}

.ingredientes {
  margin-top: 12px;
}

.doneRecipe {
  min-height: 500px;
}

.doneRecipe p {
  margin-top: 8px;
  color: #aa713c;
  text-align: center;
}

.favImage {
  width: 80%;
  height: 170px;
  margin-top: 8px;
}

.titleGreen {
  color: #5A9837;
  font-style: italic;
  margin-bottom: 8px;
}

.ingredientes p {
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}

.ingredientesInProgress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredientesInProgress label {
  margin-bottom: 6px;
  position: relative;
}

.ingredientesInProgress input {
  margin-right: 8px;
}

.ingredientesInProgress span {
  text-align: left;
  position: absolute;
  right: 0;
}

.concluidRecipe {
  text-decoration: line-through;
}

.all-recipes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preparo {
  margin: 22px 0;
}

.preparo p {
  line-height: 23px;
}

iframe {
  width: 100%;
  margin-bottom: 20px;
}

.recomendado {
  text-decoration: none;
}

.recomendado img {
  width: 100%;
}

.recomendado h2 {
  color: #aa713c;
}

.startRecipe {
  background-color: #5A9837;
  border: 0;
  padding: 8px 15px;
  font-size: 18px;
  margin: 40px auto 0;
  color: white;
}

.all-recipes div button {
  border: 0;
  width: 100%;
  border: 1px solid #aa713c;
  padding: 8px 0;
  margin-bottom: 12px;
}

.all-recipes div h4 {
  font-size: 20px;
  color: #aa713c;
}

.all-recipes div img {
  width: 80%;
  height: 140px;
}

.drinkBotoes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ef9743;
  padding-bottom: 8px;
}

.drinkBotoes button {
  background-color: #5A9837;
}

.explore {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.explore a {
  text-decoration: none;
  color: white;
  background-color: #5A9837;
  padding: 8px;
  font-size: 23px;
}

.explore button {
  border: 0;
  background-color: #5A9837;
  padding: 8px;
  font-size: 16px;
  color: white;
}

.explore h2 {
  color: #aa713c;
}

.surpriseMe {
  background-color: #5A9837;
  padding: 8px;
  border: 0;
  color: white;
  font-size: 23px;
}

.exploreIngredient {
  display: flex;
  flex-direction: column;
  padding: 8px 2%;
  padding-bottom: 80px;
}

.exploreIngredient div {
  border: 1px solid #aa713c;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 8px;
  align-items: center;
  color: #aa713c;
}

form.nacionalidade {
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  background-color: #5A9837;
  padding: 0 2% 12px;
}

form.nacionalidade label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

form.nacionalidade label select {
  padding: 3px 0;
  width: 100%;
  font-size: 15px;
  padding: 4px;
}

main.nationalities {
  padding: 8px 2% 70px;
}

.favorite {
  display: flex;
  flex-direction: column;
}

.recomendado h3 {
  color: #5A9837;
  font-style: italic;
  margin-bottom: 8px;
  font-size:30px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(239, 194, 91, 0.7);
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
  width: 100%;
}

img.logotipo {
  width: 100px;
}

@media screen and (min-width: 700px) {
  .nameImage img {
    width: 70%;
    height: 300px;
  }
  .all-recipes,.exploreIngredient {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .all-recipes div, .exploreIngredient div {
    width: 15%;
  }
  form.login {
    width: 40%;
    height: 300px;
  }
  form.login input {
    width: 60%;
  }
  form.login img {
    width: 30%;
  }
  img.logotipo {
    width: 150px;
  }
  .ingredientes, .preparo, iframe, .recomendado, .ingredientesInProgress {
    width: 70%;
    margin: 20px auto;
    font-size: 20px;
  }
  .preparo p {
    line-height: 30px;
  }
}